{% extends "base.html" %} {% block title %}Formulario Despachante{% endblock %}
{% block content %}
<h1>Registro despachante</h1>
<form action={{ request.path }} method="POST">
  <label for="sucursal">sucursal: </label><br>
  <input type="text" name="sucursal" id="sucursal" value={{ sucursal }} disabled /><br>
  <label for="destino">destino: </label><br>
  <input type="text" name="destino" id="destino" /><br>
  <label for="destinatario">destinatario: </label><br>
  <input type="text" name="destinatario" id="destinatario" /> <br>
  <label for="peso">peso del paquete: </label><br>
  <input type="number" name="peso" id="peso" /><br>
  <input type="submit" value="Registrar paquete"/>
</form>

{% endblock %}
