{% extends "base.html" %} {% block title %}Formulario Despachante{% endblock %}
{% block content %}
<form action="/despachante/registro-salida" method="POST">
  <h1>Elegir sucursal de destino</h1>
  <select name="sucursal" id="sucursal">
    {%for sucursal in sucursales%}
    <option value="{{sucursal.id}}">
      {{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad
      }}
    </option>
    {%endfor%}
  </select>

  {%for paquete in paquetes%}
  <div class="contenedor-checkbox">
  <input type="checkbox" name="paquete" value="{{ paquete.id }}" id="{{ paquete.id }}"/>
    <div class="falso-checkbox"><svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m10 15.17l9.192-9.191l1.414 1.414L10 17.999l-6.364-6.364l1.414-1.414z"/></svg></div>
  <label for="paquete">
      {{ paquete.numeroenvio }} - {{ paquete.dirdestinatario }}
  </label>
  </div>


    <!-- <input type="checkbox" name="paquete" value="{{ paquete.id }}" id="{{ paquete.id }}"> -->
    <!-- <label for="{{ paquete.id }}"> -->
    <!--   {{ paquete.numeroenvio }} - {{ paquete.dirdestinatario }} -->
    <!-- </label> -->
  {%endfor%}

  <input type="submit" value="Registrar Salida" />
</form>

{% endblock %}
