{% extends "base.html" %} {% block title %}Formulario Despachante{% endblock %}
{% block content %}
<form action="/despachante/registro-paquete" method="POST">
  <h1>Registrar paquete</h1>

  <div>
    <label for="destino">destino: </label>
    <input  type="text" name="destino" id="destino" />
  </div>

  <div>
    <label for="destinatario">destinatario: </label>
    <input type="text" name="destinatario" id="destinatario" />
  </div>

  <div>
    <label for="peso">peso del paquete: </label>
    <input type="number" name="peso" id="peso" />
  </div>

  <input type="submit" value="Registrar paquete"/>
</form>

{% endblock %}
