{% extends "base.html" %} {% block title %}Formulario Despachante{% endblock %}
{% block content %}
<h1>Lista de Sucursales</h1>
<form action="/despachante/registrar-paquete" method="GET">
  <select name="sucursal" id="sucursal">
    {%for sucursal in sucursales%}
    <option value="{{sucursal.numero}}">
      {{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad
      }}
    </option>
    {%endfor%}
  </select>
  <input type="submit" value="Elegir sucursal" />
</form>
{% endblock %}

